Churn_prasanth.json
[{"id":"cfc24c76.52c41","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"644c575a.af2c98","type":"function","z":"cfc24c76.52c41","name":"PreToken","func":"global.set(\"rn\",msg.payload.rn)\nglobal.set(\"ci\",msg.payload.ci)\nglobal.set(\"sn\",msg.payload.sn)\nglobal.set(\"cs\",msg.payload.cs)\nglobal.set(\"gy\",msg.payload.gy)\nglobal.set(\"gr\",msg.payload.gr)\nglobal.set(\"ae\",msg.payload.ae)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"be\",msg.payload.be)\nglobal.set(\"ns\",msg.payload.ns)\nglobal.set(\"hd\",msg.payload.hd)\nglobal.set(\"ir\",msg.payload.ir)\nglobal.set(\"ey\",msg.payload.ey)\nvar apikey=\"hmSrq5MY3vAvTmIiPjtDqDg8RFMMt5ZfoTPNf1XR9EJ_\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":263,"y":316.0000047683716,"wires":[["be383bd2.e46a18"]]},{"id":"be383bd2.e46a18","type":"http request","z":"cfc24c76.52c41","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":454,"y":305,"wires":[["1f406bef.a96704"]]},{"id":"4ce980ac.ec0c2","type":"debug","z":"cfc24c76.52c41","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":903.0000114440918,"y":47.00000190734863,"wires":[]},{"id":"1f406bef.a96704","type":"function","z":"cfc24c76.52c41","name":"Pre Prediction","func":"var rn = global.get('rn')\nvar ci = global.get('ci')\nvar sn = global.get('sn')\nvar cs = global.get('cs')\nvar gy = global.get('gy')\nvar ge = global.get('ge')\nvar ae = global.get('ae')\nvar te = global.get('te')\nvar be = global.get('be')\nvar ns = global.get('ns')\nvar hd = global.get('hd')\nvar ir = global.get('ir')\nvar ey = global.get('ey')\nvar token=msg.payload.access_token\nvar instance_id=\"542cffa3-38b6-43b2-a1b5-7aa1f5e79ae9\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"RowNumber\", \"CustomerId\", \"Surname\", \"CreditScore\", \"Geography\", \"Gender\", \"Age\", \"Tenure\", \"Balance\", \"NumOfProducts\", \"HasCrCard\", \"IsActiveMember\", \"EstimatedSalary\"], \"values\": [[rn,ci,sn,cs,gy,ge,ae,te,be,ns,hd,ir,ey]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":655.0000076293945,"y":268.00000381469727,"wires":[["2ac4c2f3.af3bfe"]]},{"id":"2ac4c2f3.af3bfe","type":"http request","z":"cfc24c76.52c41","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/ca77cbdc-89ec-4882-8e39-9257f83a1692/predictions","tls":"","persist":false,"proxy":"","authType":"","x":744.5000076293945,"y":212.00000381469727,"wires":[["e20bd250.73a82","4ce980ac.ec0c2"]]},{"id":"8144cd69.ffb8a","type":"ui_form","z":"cfc24c76.52c41","name":"","label":"","group":"2350f240.06ad8e","order":1,"width":0,"height":0,"options":[{"label":"RowNumber","value":"rn","type":"number","required":true,"rows":null},{"label":"CustomerId","value":"ci","type":"number","required":true,"rows":null},{"label":"Surname","value":"sn","type":"text","required":true,"rows":null},{"label":"CreditScore","value":"cs","type":"number","required":true,"rows":null},{"label":"Geography","value":"gy","type":"text","required":true,"rows":null},{"label":"Gender","value":"gr","type":"text","required":true,"rows":null},{"label":"Age","value":"ae","type":"number","required":true,"rows":null},{"label":"Tenure","value":"te","type":"number","required":true,"rows":null},{"label":"Balance","value":"be","type":"number","required":true,"rows":null},{"label":"NumOfProducts","value":"ns","type":"number","required":true,"rows":null},{"label":"HasCrCard","value":"hd","type":"number","required":true,"rows":null},{"label":"IsActiveMember","value":"ir","type":"number","required":true,"rows":null},{"label":"EstimatedSalary","value":"ey","type":"number","required":true,"rows":null}],"formValue":{"rn":"","ci":"","sn":"","cs":"","gy":"","gr":"","ae":"","te":"","be":"","ns":"","hd":"","ir":"","ey":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":360,"wires":[["644c575a.af2c98"]]},{"id":"e20bd250.73a82","type":"function","z":"cfc24c76.52c41","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":604.6000366210938,"y":107.60000610351562,"wires":[["48779aca.3410a4"]]},{"id":"48779aca.3410a4","type":"ui_text","z":"cfc24c76.52c41","group":"2350f240.06ad8e","order":2,"width":0,"height":0,"name":"","label":"Exited","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":340,"wires":[]},{"id":"2350f240.06ad8e","type":"ui_group","z":"","name":"Group 1","tab":"f56f54d5.0a00c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f56f54d5.0a00c8","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]